@charset "UTF-8";
*{
    margin: 0px;
    padding:0px;
}
:root{
--font-1: Verdana, Geneva, Tahoma,sans-serif;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 45px;
   font-family: var(--font-1);
}
a{
    font-family: var(--font-1);
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.415);
}